.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  margin-bottom: 32px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-buttons {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}
