@import 'tailwindcss';
@source not "../AGENTS.md";

@theme {
  --breakpoint-xs: 25rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --color-red: #ff0000;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.95);
  background-color: #22303f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
